.container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: calc(var(--base-size) * 2);
    border-radius: calc(var(--base-size) * 2);
    background-color: var(--white);
}


.fade_out {
    animation-name: fade_out;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
@keyframes fade_out {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}