.container_2 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: calc(var(--base-size) * 6);
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-size) * 2);
}
.submit {
  align-self: flex-end;
}

.logo {
    color: var(--secondary)
}

.form_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}