.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--base-size) * 4);
  padding: calc(var(--base-size) * 5);
  position: relative;
}

.profile_img {
  object-fit: cover;
  position: relative;
  bottom: -60px;
  width: 100%;
  height: 100%;
}

.circle {
  display: none;
}
.container_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%
}

.mark {
  color: var(--secondary);
}
.contact_icon {
  font-size: 3rem;
  width: calc(var(--base-size) * 7);
  height: calc(var(--base-size) * 7);
  color: var(--white);
}

@media only screen and (min-width: 1000px) {
  .circle {
    border-radius: 50%;
    border: 1px solid var(--white);
    background-image: linear-gradient(var(--white) 0%, transparent);
    background-attachment: no-repaeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    padding: calc(var(--base-size) * 5);
    width: 100%;
  }
  .container_2 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    gap: calc(var(--base-size) * 6);
  }
}