.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
}

.tab_panel {
  align-self: flex-start;
  border-radius: calc(var(--base-size) * 2);
  padding: calc(var(--base-size) * 5);
  height: calc(100% - 120px);
  max-width: 700px;
}

.icon {
   width: 50px;
   height: 50px;
   color: var(--white);
}
.interest {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-size) * 6);
}
