.left {
  float: left;
}

.right {
  float: right;
}
.text {
  color: var(--white);
}
.container {
  display: flex;
  align-items: start;
  gap: calc(var(--base-size) * 2);
}

.img {
    display: none;
  }
.icon {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .icon {
    border: 2px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--base-size) * 2);
  }
  .img {
    display: block;
    border-radius: 50%;
  }
}
